@model Kolos1.Models.Team

<form asp-action="Add" method="post">
	<p>
		<label asp-for="Name">Nazwa</label>
		<input asp-for="Name" />
	</p>
	<p>
		<label asp-for="Country">Kraj</label>
		<input asp-for="Country" />
	</p>
	<p>
		<label asp-for="City">Miasto</label>
		<input asp-for="City" />
	</p>
	<p>
		<label asp-for="FoundingDate">Data założenia</label>
		<input asp-for="FoundingDate" type="datetime-local" />
	</p>
	<p>
		<label asp-for="League"Liga></label>
		<select asp-for="LeagueId" asp-items="@ViewBag.LeagueList"></select>
	</p>
	<p>
		<button type="submit">Dodaj</button>
	</p>
</form>
