@model Kolos1.Models.Position

<form asp-action="Add" method="post">
	<p>
		<label asp-for="Name">Nazwa</label>
		<input asp-for="Name" />
	</p>
	<p>
		<button type="submit">Dodaj</button>
	</p>
</form>